@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato-Light.eot');
  src: url('../../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */ url('../../fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20%;
  text-align: center;
  color: #ecf0f1;
  background: #3498db;
  transition: 0.5s linear all;
  opacity: 1;
}
.spinner.ng-hide {
  opacity: 0;
}
.spinner.error p {
  font-weight: bold;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ecf0f1;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.spinner p {
  font-size: 2em;
  margin: 2em;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
#clocks .timezoneName {
  color: #ecf0f1;
}
#clocks clock {
  display: block;
  margin: 0 0 20px;
  font-size: 2em;
}
#clocks clock p span {
  text-transform: uppercase;
  color: #bdc3c7;
  font-size: 0.5em;
}
body {
  background: #2980b9;
  font-family: 'Lato';
}
